Repository TaumuLu/lissom: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, tslint --fix

.lintstagedrc:

{
  "linters": {
    "*.{js,json,ts,tsx}": ["prettier --write", "git add"],
    "*.{ts,tsx}": "tslint --fix"
  },
  "ignore": [
    "/node_modules/",
    "/dist/",
    "/docs/"
  ]
}

refactor: createRegs & static assets send
  README.md
  examples/with-react/server.js
  package-lock.json
  package.json
  src/lib/types.ts
  src/lib/utils.ts
  src/server/config.ts
  src/server/index.ts
  src/server/koa.ts
  src/server/lib/utils.ts
  src/server/lib/webpack-runtime.ts
Due: prettier --write, tslint --fix

feat: add next example
  examples/contrast/package-lock.json
  examples/contrast/package.json
  examples/contrast/pages/index.js
Due: prettier --write

docs: update readme
  README.md
Due: none

feat: add errorHtml config
  README.md
  docs/异步操作.md
  examples/webpack/webpack.config.js
  examples/with-react/error.html
  examples/with-react/error.js
  examples/with-react/server.js
  examples/with-react/src/App.js
  examples/with-react/src/error-boundary.js
  package-lock.json
  package.json
  src/lib/types.ts
  src/server/config.ts
  src/server/render.ts
Due: prettier --write, tslint --fix

fix: production Can\'t find runtime chunk & fix nonsupport promise error
  README.md
  examples/package-lock.json
  examples/package.json
  examples/webpack/webpack.config.js
  examples/with-react/package.json
  package-lock.json
  package.json
  src/server/lib/webpack-runtime.ts
  src/webpack/plugins/chunks-plugin.ts
  tslint.json
Due: prettier --write, tslint --fix

feat: add isBase64 options
  README.md
  docs/开发总结.md
  docs/异步操作.md
  examples/with-react/server.js
  package-lock.json
  package.json
  src/client/index.tsx
  src/lib/async.tsx
  src/lib/types.ts
  src/lib/utils.ts
  src/server/config.ts
  src/server/lib/create-html.ts
  src/server/render.ts
Due: prettier --write, tslint --fix

fix: The statement
  .npmignore
  package-lock.json
  package.json
  src/lib/utils.ts
  src/server/lib/create-html.ts
Due: prettier --write, tslint --fix

fix: encode params
  package-lock.json
  package.json
  src/server/lib/create-html.ts
Due: prettier --write, tslint --fix

fix: remove Path to check
  package-lock.json
  package.json
  src/server/lib/utils.ts
Due: prettier --write, tslint --fix

docs: update docs
  docs/开发总结.md
Due: none

fix: clean webpackJsonp cache
  README.md
  package-lock.json
  package.json
  src/server/lib/webpack-runtime.ts
Due: prettier --write, tslint --fix

fix: require.cache parent reference & js-base64 circular reference
  README.md
  examples/webpack/webpack.config.js
  examples/with-react/server.js
  package-lock.json
  package.json
  src/lib/utils.ts
  src/server/lib/utils.ts
Due: prettier --write, tslint --fix

fix: react hooks server render error
  .gitignore
  .prettierrc
  README.md
  examples/.eslintrc.yml
  examples/package.json
  examples/with-react/package-lock.json
  examples/with-react/package.json
  examples/with-react/src/App.js
  examples/with-react/src/App.jsx
  examples/with-react/src/async.jsx
  examples/with-react/src/dynamic.jsx
  examples/with-react/src/error-boundary.jsx
  examples/with-react/src/hooks.jsx
  package-lock.json
  package.json
  src/client/index.tsx
  src/lib/async.tsx
  src/lib/dynamic.tsx
  src/lib/types.ts
  src/lib/utils.ts
  src/server/config.ts
  src/server/index.ts
  src/server/koa.ts
  src/server/lib/create-html.ts
  src/server/lib/error-debug.ts
  src/server/lib/parse-html.ts
  src/server/lib/request.ts
  src/server/lib/style-loader.ts
  src/server/lib/utils.ts
  src/server/lib/webpack-runtime.ts
  src/server/react-render.tsx
  src/server/render.ts
  src/server/require.ts
  src/webpack/index.ts
  tslint.json
Due: prettier --write, tslint --fix

docs: update develop summary
  README.md
  docs/开发总结.md
Due: none

docs: adjust
  docs/开发总结.md
Due: none

feat: support express middleware & upgrade package & remove koa-router
  .lintstagedrc
  README.md
  docs/介绍.md
  docs/开发总结.md
  examples/.eslintrc.yml
  examples/package-lock.json
  examples/package.json
  examples/webpack/common.config.js
  examples/webpack/webpack.config.js
  examples/with-react/error.js
  examples/with-react/index.js
  examples/with-react/package-lock.json
  examples/with-react/package.json
  examples/with-react/server.js
  examples/with-react/src/App.jsx
  express.js
  package-lock.json
  package.json
  src/server/express.ts
  src/server/index.ts
  src/server/lib/utils.ts
  src/webpack/plugins/chunks-plugin.ts
  src/webpack/plugins/manifest-plugin.ts
  src/webpack/plugins/pages-plugin.ts
  src/webpack/utils.ts
Due: prettier --write, tslint --fix

fix: fix server side style-loader runtime
  README.md
  src/server/lib/style-loader.ts
Due: prettier --write, tslint --fix

1.3.1
  package-lock.json
  package.json
Due: prettier --write

feat: rename & fix webpack export object config
  examples/package-lock.json
  examples/with-react/index.js
  examples/with-react/server.js
  src/lib/types.ts
  src/server/config.ts
  src/server/express.ts
  src/server/index.ts
  src/server/koa.ts
  src/server/lib/webpack-runtime.ts
  src/webpack/index.ts
Due: prettier --write, tslint --fix

feat: add root d.ts file
  tsconfig.json
  utils.d.ts
  webpack.d.ts
Due: prettier --write, tslint --fix

refactor: dynamic module async loader
  README.md
  dynamic.d.ts
  examples/with-react/index.js
  package-lock.json
  package.json
  src/client/index.tsx
  src/lib/dynamic.tsx
  src/lib/utils.ts
  src/server/config.ts
  src/server/lib/utils.ts
  src/server/lib/webpack-runtime.ts
  src/server/render.ts
  src/webpack/plugins/chunks-plugin.ts
Due: prettier --write, tslint --fix

chore: add ts type
  .eslintignore
  async.d.ts
  examples/package-lock.json
  examples/with-react/package-lock.json
  package-lock.json
  package.json
  src/client/index.tsx
  src/index.d.ts
  src/lib/async.tsx
  src/lib/dynamic.tsx
  src/lib/types.ts
  src/lib/utils.ts
  src/server/config.ts
  src/server/express.ts
  src/server/index.ts
  src/server/koa.ts
  src/server/lib/create-html.ts
  src/server/lib/error-debug.ts
  src/server/lib/parse-html.ts
  src/server/lib/request.ts
  src/server/lib/style-loader.ts
  src/server/lib/utils.ts
  src/server/lib/webpack-runtime.ts
  src/server/render.ts
  src/server/require.ts
  src/webpack/index.ts
  src/webpack/plugins/chunks-plugin.ts
  src/webpack/plugins/manifest-plugin.ts
  src/webpack/plugins/pages-plugin.ts
  src/webpack/utils.ts
  tsconfig.json
Due: prettier --write, tslint --fix

refactor: parse & create html
  README.md
  examples/package-lock.json
  package-lock.json
  package.json
  src/client/index.tsx
  src/lib/types.ts
  src/lib/utils.ts
  src/server/config.ts
  src/server/lib/create-html.ts
  src/server/lib/parse-html.ts
  src/server/lib/style-loader.ts
  src/server/render.ts
Due: prettier --write, tslint --fix

feat: add ssg module
  .gitignore
  README.md
  examples/with-react/server.js
  package-lock.json
  package.json
  src/server/ssg.ts
  ssg.d.ts
  ssg.js
Due: prettier --write, tslint --fix

fix: add SSR_LOADER_FUNCTIONS var
  async.d.ts
  dynamic.d.ts
  examples/package-lock.json
  src/client/index.tsx
  src/lib/constants.ts
  src/lib/dynamic.tsx
  src/lib/utils.ts
  src/server/lib/create-html.ts
  src/server/render.ts
  src/server/ssg.ts
  ssg.d.ts
  utils.d.ts
  webpack.d.ts
Due: prettier --write, tslint --fix

feat: test nanoid
  README.md
  examples/with-react/package-lock.json
  examples/with-react/package.json
  examples/with-react/server.js
  examples/with-react/src/App.jsx
  src/lib/types.ts
  src/server/config.ts
  src/webpack/plugins/manifest-plugin.ts
Due: prettier --write, tslint --fix

chore: add npmrc file
  .npmrc
Due: none

feat: support svg-sprite-loader ssr
  .eslintignore
  .vscode/settings.json
  README.md
  examples/contrast/pages/index.js
  examples/package-lock.json
  examples/package.json
  examples/webpack/webpack.config.js
  examples/with-react/package-lock.json
  examples/with-react/package.json
  examples/with-react/server.js
  examples/with-react/src/App.jsx
  examples/with-react/src/SvgIcon/icons/index.js
  examples/with-react/src/SvgIcon/icons/svg/logo.svg
  examples/with-react/src/SvgIcon/index.jsx
  examples/with-react/src/SvgIcon/index.scss
  jsconfig.json
  package-lock.json
  package.json
  src/index.d.ts
  src/server/lib/create-html.ts
  src/server/lib/webpack-runtime.ts
  tsconfig.json
Due: prettier --write, tslint --fix

fix: react-runtime & dynamic client load
  README.md
  examples/webpack/webpack.config.js
  examples/with-react/package-lock.json
  package-lock.json
  package.json
  src/lib/dynamic.tsx
  src/server/lib/webpack-runtime.ts
Due: prettier --write, tslint --fix

fix: dynamic component loader & add lib/Router
  .eslintignore
  README.md
  package-lock.json
  package.json
  router.d.ts
  router.js
  src/lib/dynamic.tsx
  src/lib/router.tsx
  src/server/lib/create-html.ts
  src/server/lib/utils.ts
  src/server/lib/webpack-runtime.ts
  src/server/render.ts
Due: prettier --write, tslint --fix

fix: dynamic inject js/css & webpack_runtime import
  README.md
  package-lock.json
  package.json
  src/lib/constants.ts
  src/lib/dynamic.tsx
  src/server/config.ts
  src/server/lib/create-html.ts
  src/server/lib/parse-html.ts
  src/server/lib/webpack-runtime.ts
  src/server/render.ts
  src/webpack/plugins/manifest-plugin.ts
Due: prettier --write, tslint --fix

feat: add getInitialHead & fix webpack_runtime dev error
  README.md
  examples/with-react/src/App.jsx
  package-lock.json
  package.json
  src/server/lib/create-html.ts
  src/server/lib/utils.ts
  src/server/lib/webpack-runtime.ts
  src/server/render.ts
Due: prettier --write, tslint --fix

feat: dynamic resources add publicPath
  README.md
  examples/with-react/server.js
  package.json
  src/lib/types.ts
  src/server/config.ts
  src/server/lib/create-html.ts
  src/server/lib/utils.ts
  src/server/render.ts
Due: prettier --write, tslint --fix

fix: version & entryPoints rename
  package-lock.json
  src/lib/types.ts
  src/server/config.ts
Due: prettier --write, tslint --fix

feat: optimize webpack-runtime
  src/server/lib/webpack-runtime.ts
Due: prettier --write, tslint --fix
